
header{
    background-color: rgba(254, 253, 253, 0.986);
    position:fixed;
    z-index: 999;
    width: 100%;
}
#search-btn:hover{
    background-color: cyan;
    transform: scale(1.5);
}
#search-value{
    background-color: cyan;
    border: 2px solid cyan;
    border-radius: 10px;
}
main{
    background-color: rgb(5, 6, 6);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top:56px;
}
.img{
    /* border-radius: 10px;
    border: 1px solid rgb(68, 124, 159);
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 1px rgb(49, 131, 185);
    flex-grow: 1;
     */
     transform: scale(5);
}
.hidden{
    display: none;
}
.my-card{
    box-shadow: 5px 5px 0 0 rgba(112, 235, 139, 0.653);
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    flex-grow: 1;
    background-color: rgb(112, 235, 139);
}
#box{
    text-align: center;
    border-radius: 10px;
    transform: scale(1.7);
    background: linear-gradient(to bottom,#e13c3c,rgb(239, 243, 236), #95f1ea);
}
#poke-img-output{
    padding: 20px;
    margin-top: 60px;
    transform: scale(1.8);
}
#poke-name{
    font-size: 25px;
}
#flex-me{
    display: flex;
    flex-direction: row;
}

td{
    background-color: rgba(193, 75, 236, 0.79);
    outline: 2px solid white;
    padding: 9px;
}
dialog::backdrop {
    backdrop-filter: blur(5px);
}
